# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/TestResults/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Office lock files
~$*
